.pagination-button {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: #555;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
  }
  
  .pagination-button.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  